In [5]:
import json
        
employees_data = [
    {
        "Name": "David Johnson",
        "DOB": "1995-02-10",
        "Height": 180,
        "City": "Chicago",
        "State": "Illinois"
    },
    {
        "Name": "John Doe",
        "DOB": "1990-05-15",
        "Height": 175,
        "City": "New York",
        "State": "New York"
    },
    {
        "Name": "Emily Davis",
        "DOB": "1992-12-01",
        "Height": 170,
        "City": "Houston",
        "State": "Texas"
    },
    {
        "Name": "Michael Wilson",
        "DOB": "1985-07-08",
        "Height": 185,
        "City": "Miami",
        "State": "Florida"
    },
    {
        "Name": "Jane Smith",
        "DOB": "1988-09-21",
        "Height": 165,
        "City": "Los Angeles",
        "State": "California"
    }
]

with open('employee.json','w') as file:
    json.dump(employees_data, file, indent=3)

In [6]:
class Employee:
    def __init__(self, name, dob, height, city, state):
        self.name = name
        self.dob = dob
        self.height = height
        self.city = city
        self.state = state
        
with open('employee.json', 'r') as file:
    employees_data = json.load(file)

employees = []
for data in employees_data:
    name = data['Name']
    dob = data['DOB']
    height = data['Height']
    city = data['City']
    state = data['State']
    employee = Employee(name, dob, height, city, state)
    employees.append(employee)

for emp in employees:
    print("Name:", emp.name)
    print("DOB:", emp.dob)
    print("Height:", emp.height)
    print("City:", emp.city)
    print("State:", emp.state)
    print()

Name: David Johnson
DOB: 1995-02-10
Height: 180
City: Chicago
State: Illinois

Name: John Doe
DOB: 1990-05-15
Height: 175
City: New York
State: New York

Name: Emily Davis
DOB: 1992-12-01
Height: 170
City: Houston
State: Texas

Name: Michael Wilson
DOB: 1985-07-08
Height: 185
City: Miami
State: Florida

Name: Jane Smith
DOB: 1988-09-21
Height: 165
City: Los Angeles
State: California

In [11]:
import json

Indian_states = {
    "Maharashtra": "Mumbai",
    "Karnataka": "Bangalore",
    "Tamil Nadu": "Chennai",
    "West Bengal": "Kolkata",
    "Kerala": "Thiruvananthapuram",
    "Telangana": "Hyderabad",
    "Punjab": "Chandigarh"
}

with open('Indian_states.json','w') as file:
    json.dump(Indian_states, file, indent=3)

In [12]:
with open('Indian_states.json','r') as file:
    data = file.read()
    print(data)

{
   "Maharashtra": "Mumbai",
   "Karnataka": "Bangalore",
   "Tamil Nadu": "Chennai",
   "West Bengal": "Kolkata",
   "Kerala": "Thiruvananthapuram",
   "Telangana": "Hyderabad",
   "Punjab": "Chandigarh"
}