In [5]:
import json

employees_data = [
    {
        "Name": "David Johnson",
        "DOB": "1995-02-10",
        "Height": 180,
        "City": "Chicago",
        "State": "Illinois"
    },
    {
        "Name": "John Doe",
        "DOB": "1990-05-15",
        "Height": 175,
        "City": "New York",
        "State": "New York"
    },
    {
        "Name": "Emily Davis",
        "DOB": "1992-12-01",
        "Height": 170,
        "City": "Houston",
        "State": "Texas"
    },
    {
        "Name": "Michael Wilson",
        "DOB": "1985-07-08",
        "Height": 185,
        "City": "Miami",
        "State": "Florida"
    },
    {
        "Name": "Jane Smith",
        "DOB": "1988-09-21",
        "Height": 165,
        "City": "Los Angeles",
        "State": "California"
    }
]

with open('employee.json','w') as file:
    json.dump(employees_data, file, indent=3)

In [6]:
class Employee:
    def __init__(self, name, dob, height, city, state):
        self.name = name
        self.dob = dob
        self.height = height
        self.city = city
        self.state = state

with open('employee.json', 'r') as file:
    employees_data = json.load(file)

# Create a list of Employee objects
employees = []
for data in employees_data:
    name = data['Name']
    dob = data['DOB']
    height = data['Height']
    city = data['City']
    state = data['State']
    employee = Employee(name, dob, height, city, state)
    employees.append(employee)

# Print the list of Employee objects
for employee in employees:
    print("Name:", employee.name)
    print("DOB:", employee.dob)
    print("Height:", employee.height)
    print("City:", employee.city)
    print("State:", employee.state)
    print()

Name: David Johnson
DOB: 1995-02-10
Height: 180
City: Chicago
State: Illinois

Name: John Doe
DOB: 1990-05-15
Height: 175
City: New York
State: New York

Name: Emily Davis
DOB: 1992-12-01
Height: 170
City: Houston
State: Texas

Name: Michael Wilson
DOB: 1985-07-08
Height: 185
City: Miami
State: Florida

Name: Jane Smith
DOB: 1988-09-21
Height: 165
City: Los Angeles
State: California